/* Links */
a{color: #57B195;}
a:hover{color: #57B195;}
footer a{color: #57B195;}
footer a:hover{color: #57B195;}
.hello a{text-decoration: none;}
nav a{
  color: #4E4E4E;
  padding: 5px 7px;
  text-decoration: none;
  transition: background 0.35s ease-in-out 0s;
}
nav a:hover{
  color: #57B195;
  
}

.textwrap {
  float: left;
  padding: 5px 20px 5px 5px;
}

/* Lists */
.inline ul{
  list-style: none;
  margin: 20px 20px;
  padding-left: 0;
}
.inline li{
  float: left;
  margin-right: 2px;
  margin-bottom: 5px;
}

/* Forms */
label{
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}
input, textarea{
  /*border: 1px solid #CCCCCC;*/
  font-size: .9em;
  border: none;
  padding: 16px;
  width: 300px;
}
.submit{
  font-size: 1em;
  margin-top: 20px;
  background: #7FC6BC;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  width: 100px;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: background 0.35s ease-in-out 0s;
}
.submit:hover{
  color: #FFF;
  background: #51A48A; 
}

/* Buttons */
.more{
  text-align: center;
  margin-top: 70px;
}
.button{
  background: #7FC6BC;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  font-size: 1.125em;
  padding: 20px 30px;
  text-decoration: none;
  transition: background 0.35s ease-in-out 0s;
}
.button:hover{
  color: #FFF;
  background: #51A48A; 
}

/* Headers */
h1{
  color: #4E4E4E;
  font-weight: normal;
  font-size: 3.2em;
  float: left;
}
h1 a, h1 a:hover, h1 a:visited{
  color: #4E4E4E;
  text-decoration: none;
}
h2, h3{
  font-size: 2.1em;
  font-weight: normal;
  margin: 10px 0 15px 0;
}
.example h3{
  font-size: 1.2em;
  margin: 20px 0 0 0;
  color: #3D705E;
}


body { 
  font-family: 'Trocchi', georgia, serif;
/*  font-family: 'Open Sans', sans-serif;*/
  background: url('../images/bg.png');
  font-size: 100%;
  color: #4E4E4E;
  letter-spacing: 1.5px; 
  padding: 0;
  margin: 0;     
} 
p {
  font-size: 1em;
  font-style: normal;
  line-height: 1.68em;
  margin: 0 0 1em;
}
section {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 90%;
  height: 100%;
  overflow: hidden;
  clear: both;
}


/* Header Section */
header {
  background: url("../images/bg.png");
  border-bottom: solid 1px #EAEAEA;
  margin: 30px auto;
  margin-top: 40px;
  padding-bottom: 30px;
  width: 90%;
  clear: both; 
  height: 100%;
  overflow: hidden;
}
nav{
  font-weight: normal;
  font-size: 1.7em;
  color: #E9E9E9;
  float: right;
  width: auto;
  margin-top: 20px;
  
}
nav ul{
  list-style-type: none;
}
nav li{
  display: inline;
  margin-right: 15px;
}


/* About Section */
#bio {
  width: 45%;
  float: left;
}
#skills {
  margin-left: 15px;
  width: 50%;
  float: right;
}
.skill {
  margin-bottom: 20px;
  padding: 5px 0;
  overflow: hidden;
  font-size: 1.1em;
}
.skill ul{
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  width: 78%;
  text-align: center;
  list-style-type: none;
}
.skill li{
  float: left;
  padding: 5px 0 5px 5px;
}
.skill li:after{
  content: ",";
}
.skill li:last-child:after {
  content: " ";
}
.clear {clear: both;}

/* Skills Section Icons */
.icon{
  padding: 0;
  margin: 0;
  height: 90px;
  width: 90px;
  float: left;/
  text-align: center;
  text-indent: -10000px;
}
#design_icon{background: url('../images/design.png') no-repeat top;}
#html_icon{background: url('../images/html.png') no-repeat top;}
#code_icon{background: url('../images/code.png') no-repeat top;}


/* Work Section */
#examples{
  height: 100%;
  overflow: auto;
  margin: 0 20px 20px 20px;
}
#examples p{
  font-size: 90%;
  padding: 0 15px;
}
.example {
  padding-top: 10px;
  float: left;
  margin-right: 10px;
  width: 32%;
  text-align: center;
  color: #000;
  min-height: 490px;
}
.example:last-child{
  margin: 0;
}
.example img {
  border: 15px solid #FFF;
}

/* Resume */
#resume h3 {
  font-size: 1.3em;
  color: #57B195;
}

#history ul, #accomplishments ul, #links ul {
  margin-left: 20px;
}
#history ul li, #accomplishments ul li, #links ul li {
  padding-bottom: 15px;
  font-style: normal;
  line-height: 1.5em;
}

#history {
  width: 45%;
  float: left;
}
#accomplishments, #education, #links {
  margin-left: 25px;
  margin-bottom: 30px;
  width: 50%;
  float: right;
}

#education {
  margin-top: 30px;
}

/* Contact Secion */
#contact{
  overflow: hidden;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}
#contact p{text-align: center;}
#contact_form{
  width: 48%;
  float: left;
  margin-left: 20px;
}
#contact_social{
  width: 48%;
  float: left;
}

/* Social Icons */
.social {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
}
.social ul {
  /*list-style-type: none;*/
}
.social li {
  display: inline;
  margin-right: 20px;
}
.social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-indent: -99999px;
  transition: all 0.25s ease 0s;
  background-size: 40px 40px;
}
.twitter{background: url('../images/twitter.png') no-repeat center;}
.linked{background: url('../images/linked.png') no-repeat center;}
.behance{background: url('../images/behance.png') no-repeat center;}
.forrst{background: url('../images/forrst.png') no-repeat center;}
.twitter:hover{opacity: .9;}
.linked:hover{opacity: .9;}
.behance:hover{opacity: .9;}
.forrst:hover{opacity: .9;}
.hello{font-size: 1.5em;}

/* Footer */
footer{
  background-color: #343434;
  height: 100%;
  color: #E9E9E6;
  overflow: hidden;
  clear: both;
}

#footerwrap {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

footer .social {
  float: right;
  margin-right: 40px;
}

footer .footerinfo {
  float: left;
}

/* Fun Stuff */
::-moz-selection 
{
 color: #E9E9E9;
 background: #3D705E; 
}
::selection 
{
 color: #E9E9E9;
 background: #3D705E; 
}
::-webkit-selection 
{
 color: #E9E9E9;
 background: #3D705E; 
}
.center{text-align:center}
.amp{
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

/* Responsive Styles */
@media only screen and (max-width: 1180px) and (min-width: 380px) {
  header{
    position: static;
  }
  section{
    margin-bottom: 80px; 
    padding-top: 0;
  }
  nav, header h1, #bio, #skills, .skill, .example, 
  #history, #education, #accomplishments, #links {
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  nav {
    padding: 20px 0;
  }
  #history, #education, #accomplishments, #links {
    text-align: left;
    margin: 40px 0;
  }
  .icon{
    margin: 0 auto;
    float: left;
    text-align: center;

  }
  .skill {
    width: 70%;
    margin: 10px auto;
    display: inline-block;
  }
  .skill ul {
    display: inline-block;
    margin: 10px;
    width: 75%;
  }
  #bio {
    border-bottom: solid 1px #EAEAEA;
    margin: 30px 0;
  }
  img {
    max-width: 97.5%; 
  }
}

@media only screen and (max-width: 750px) and (min-width: 380px) {
  .icon {
    display:none;
  }
  .skill, .skill ul {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
