<div id="skills">
    	<h2>Skills</h2>
    	<div class="skill">
	    	<h3 id="code_icon" class="icon">Programming</h3>
	    	<ul>
	            <li>PHP</li>
	            <li>SQL/MySQL</li>
	            <li>Drupal</li>
	            <li>Symfony</li>
	            <li>Ruby on Rails</li>
	            <li>MVC Frameworks</li>
				<li>Git</li>
	        </ul>
        </div>

        <div class="clear skill">
	        <h3 id="html_icon" class="icon">Front End</h3>
	        <ul>
	            <li>HTML5</li>
	            <li>CSS3</li>
	            <li>jQuery</li>
	            <li>Backbone.js</li>
				<li>Sass</li>
	            <li>accessibility and usability testing</li>
	            <li>web standards</li>
	           
	        </ul>
        </div>

        <div class="clear skill">
	        <h3 id="design_icon" class="icon">Design</h3>
	        <ul>
	            <li>Photoshop/Adobe Create Suite</li>
	            <li>image editing and graphic design</li> 
	             <li>knowledge of responsive web design</li>
	        </ul>
        </div>
    </div>