body {
  font-family: 'Trocchi', georgia, serif;
  background: url('../assets/images/bg.png');
  color: #4E4E4E;
  letter-spacing: 1.5px;
}
h2, .site-title {
    color: #B98AE8;
}
.site-title, .site-title:visited, a, a:visited, a:hover {
    color: #B98AE8;
}
div {
    background: #fff;
    background: url('../assets/images/bg.png');
}


.footer-col-2 {
width: calc(30% - (30px / 2));
}
.footer-col-3 {
width: calc(35% - (30px / 2));
}
.wrapper {
    max-width: calc(900px - (30px * 2));
    }