body {
  font-family: 'Trocchi', georgia, serif;
  background: url('../assets/images/bg.png');
  color: #4E4E4E;
  letter-spacing: 1.5px;
}
h2, .site-title {
    color: #B98AE8;
}
.site-title, .site-title:visited, a, a:visited, a:hover {
    color: #B98AE8;
}
div {
    background: #fff;
    background: url('../assets/images/bg.png');
}