body {
  font-family: 'Trocchi', georgia, serif;
  background: url('../images/bg.png');
  background: #B98AE8;
  color: #4E4E4E;
  letter-spacing: 1.5px;
}
h2 {
    color: #B98AE8;
}
div {
    background: #fff;
    background: url('../images/bg.png');
}